<a href="https://colab.research.google.com/github/TeusCarvalho/PrimieiroCodigo/blob/main/Introdu%C3%A7%C3%A3o_de_Collection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introdução

In [ ]:
idade1 = 39
idade2 = 30
idade3 = 27
idade4 = 18

print(idade1)
print(idade2)
print(idade3)
print(idade4)

39
30
27
18

In [ ]:
idades = [39,30,27,18]

In [ ]:
type (idades)

list

In [ ]:
len (idades)

4

In [ ]:
idades[0]
idades

[39, 30, 27, 18]

In [ ]:
idades = [39,30,27,18]

In [ ]:
idades

[39, 30, 27, 18]

In [ ]:
idades.append(15)

In [ ]:
idades

[39, 30, 27, 18, 15]

In [ ]:
for idades in idades:
  print(idades)

39
30
27
18
15

In [ ]:
idades = [39, 30, 27, 18, 15]

In [ ]:
idades

[39, 30, 27, 18, 15]

In [ ]:
15 in idades

True

In [ ]:
idades.insert (0, 20)
idades

[20, 20, 20, 39, 30, 27, 18, 15]

In [ ]:
idades.append((5, 10))

In [ ]:
idades

[20, 20, 20, 39, 30, 27, 18, 15, (5, 10)]

for elemento in idades:
  print("Recebi o Elemento", elemento)

In [ ]:
idade.extend([5,10])

NameError: ignored

In [ ]:
idade.

Recebi o Elemento 20
Recebi o Elemento 20
Recebi o Elemento 20
Recebi o Elemento 39
Recebi o Elemento 30
Recebi o Elemento 27
Recebi o Elemento 18
Recebi o Elemento 15
Recebi o Elemento (5, 10)
Recebi o Elemento 5
Recebi o Elemento 10

In [ ]:
idades.remove((5,10))

In [ ]:
for idade in idades:
  print(idade+1)

21
21
21
40
31
28
19
16
6
11

In [ ]:
idades_no_ano_que_vem = []
for idade in idades:
  idades_no_ano_que_vem.append(idade+1)

In [ ]:
idades_no_ano_que_vem

[21, 21, 21, 40, 31, 28, 19, 16, 6, 11]

In [ ]:
idades_no_ano_que_vem.remove(21)
idades_no_ano_que_vem

[21, 40, 31, 28, 19, 16, 6, 11]

In [ ]:
[(idade+1)for idade in idades]

[21, 21, 21, 40, 31, 28, 19, 16, 6, 11]

In [ ]:
idades_no_ano_que_vem = [(idade+1)for idade in idades]
idades_no_ano_que_vem

[21, 21, 21, 40, 31, 28, 19, 16, 6, 11]

In [ ]:
[(idade) for idade in idades if idade > 21]

[39, 30, 27]

In [ ]:
[(idade+1) for idade in idades if idade > 21]

[40, 31, 28]

In [ ]:
def proximo_ano(idade):
  return idade+1

  [(idade) for idade in idades if idade > 21]

In [ ]:
def faz_processamento_de_visualizacao(lista):
  print(len(lista))
  print(lista)
  lista.append(13)

In [ ]:
idades = [39, 30, 27, 18, 15]
faz_processamento_de_visualizacao(idades)
idades

5
[39, 30, 27, 18, 15]

[39, 30, 27, 18, 15, 13]

In [ ]:
def faz_processamento_de_visualizacao(lista = []):
  print(len(lista))
  print(lista)
  lista.append(13)

In [ ]:
faz_processamento_de_visualizacao()

0
[]

In [ ]:
faz_processamento_de_visualizacao()

1
[13]

In [ ]:
faz_processamento_de_visualizacao()

2
[13, 13]

In [ ]:
def faz_processamento_de_visualizacao(lista = list()):
  print(len(lista))
  print(lista)
  lista.append(13)

In [ ]:
def faz_processamento_de_visualizacao(lista = None):
  if lista == None:
      lista = list()
  print(len(lista))
  print(lista)
  lista.append(13)

In [ ]:
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()

0
[]
0
[]
0
[]

# Objetos Próprios

In [38]:
class ContaCorrente:
  
  def __init__(self, codigo):
      self.codigo = codigo
      self.saldo = 0

  def deposita(self, valor):
        self.saldo += valor
      
  def __str__(self):
        return "[>>Codigo {} Saldo {} <<]".format(self.codigo, self.saldo)

In [ ]:
conta_do_gui = ContaCorrente(15)
print(conta_do_gui)

[>>Codigo 15 Saldo 0 <<]

In [ ]:
conta_do_gui.deposita(500)
print(conta_do_gui)

[>>Codigo 15 Saldo 500 <<]

In [ ]:
conta_da_dani = ContaCorrente(47685)
conta_da_dani.deposita(1000)
print(conta_da_dani)

[>>Codigo 47685 Saldo 1000 <<]

In [ ]:
contas = [conta_do_gui, conta_da_dani]
for conta in contas:
  print(conta)

[>>Codigo 15 Saldo 500 <<]
[>>Codigo 47685 Saldo 1000 <<]

In [ ]:
contas = [conta_do_gui, conta_da_dani, conta_do_gui]

In [ ]:
print(contas[0])

[>>Codigo 15 Saldo 500 <<]

In [ ]:
conta_do_gui.deposita(100)

[>>Codigo 15 Saldo 700 <<]

In [ ]:
print(conta_do_gui)

[>>Codigo 15 Saldo 700 <<]

In [ ]:
print(contas[2])

[>>Codigo 15 Saldo 700 <<]

In [ ]:
contas[2].deposita(100)

In [ ]:
print(conta_do_gui)

[>>Codigo 15 Saldo 900 <<]

In [ ]:
def deposita_para_todas(contas):
    for conta in contas:
      conta.deposita(100)

contas = [conta_do_gui, conta_da_dani]
print(contas[0], contas[1])
deposita_para_todas(contas)
print(contas[0], contas[1])

[>>Codigo 15 Saldo 900 <<] [>>Codigo 47685 Saldo 1000 <<]
[>>Codigo 15 Saldo 1000 <<] [>>Codigo 47685 Saldo 1100 <<]

In [ ]:
contas.insert (0,76)
print(contas[0], contas[1], contas[2])

76 76 76

In [ ]:
deposita_para_todas(contas)
print(contas[0], contas[1], contas[2])

AttributeError: ignored

In [ ]:
guilherme = ('Guilherme', 37, 1981)  #tupla
daniela = ('Daniela', 31, 1987)

In [ ]:
conta_do_gui = (15, 1000)
conta_do_gui[1]

1000

In [ ]:
conta_do_gui[1] += 100

TypeError: ignored

In [ ]:
def deposita(conta): #variação "funcional" (sepadando o compotamento do dados)
  novo_saldo = conta[1] + 100
  codigo = conta[0]
  return (codigo, novo_saldo)

In [ ]:
deposita(conta_do_gui)

(15, 1100)

In [ ]:
conta_do_gui

(15, 1000)

In [ ]:
usuarios = [guilherme, daniela]
usuarios

[('Guilherme', 37, 1981), ('Daniela', 31, 1987)]

In [ ]:
usuarios.append(('Paulo', 39, 1979))

In [ ]:
usuarios

[('Guilherme', 37, 1981),
 ('Daniela', 31, 1987),
 ('Paulo', 39, 1979),
 ('Paulo', 39, 1979)]

In [ ]:
conta_do_gui = ContaCorrente(15)
conta_do_gui.deposita(500)
conta_da_dani = ContaCorrente(1234)
conta_da_dani.deposita(1000)

contas = (conta_do_gui, conta_da_dani)

In [ ]:
for conta in contas:
  print(conta)

[>>Codigo 15 Saldo 500 <<]
[>>Codigo 1234 Saldo 1000 <<]

In [ ]:
conta.apped(34123)

AttributeError: ignored

In [ ]:
contas[0].deposita(200)

In [ ]:
for conta in contas:
  print(conta)

[>>Codigo 15 Saldo 700 <<]
[>>Codigo 1234 Saldo 1000 <<]

# Heranca e Polimorfismo

In [ ]:
from abc import ABCMeta, abstractmethod
class Conta(metaclass=ABCMeta): # Obriga a implementar no codigo.
  
  def __init__(self, codigo):
      self._codigo = codigo
      self._saldo = 0

  def deposita(self, valor):
        self._saldo += valor
  
  @abstractmethod
  def passa_o_mes(self):
    pass
    #raise NotImplementedError

  def __str__(self):
        return "[>>Codigo {} Saldo {} <<]".format(self._codigo, self._saldo)

In [ ]:
print(Conta(88))

TypeError: ignored

In [ ]:
class ContaCorrente(Conta):

  def passa_o_mes(self):
    self._saldo -= 2

class ContaPoupanca(Conta):

  def passa_o_mes(self):
    self._saldo *= 1.01
    self._saldo -= 3 

class ContaInvestimento(Conta):
  pass

In [ ]:
ContaInvestimento (88)

TypeError: ignored

In [ ]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta16.passa_o_mes()
print(conta16)

[>>Codigo 16 Saldo 998 <<]

In [ ]:
conta17 = ContaPoupanca(17)
conta17.deposita(1000)
conta17.passa_o_mes()
print(conta17)

[>>Codigo 17 Saldo 1007.0 <<]

In [ ]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta17 = ContaPoupanca(17)
conta17.deposita(1000)
contas = [conta16, conta17]

for conta in contas:
    conta.passa_o_mes()  #duck typing
    print(conta)

[>>Codigo 16 Saldo 998 <<]
[>>Codigo 17 Saldo 1007.0 <<]

# Evitaremos usar array puro. Se precisarmos de trabalho numérico, costume usar numpy

In [ ]:
import array as arr 

arr.array('d', [1, 3.5])

array('d', [1.0, 3.5])

In [ ]:
!pip install numpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.21.6)

In [ ]:
import numpy as np

numeros = np.array([1, 3.5])
numeros

array([1. , 3.5])

In [ ]:
numeros + 3

array([4. , 6.5])

In [2]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def deposita(self, valor):
    self._saldo += valor
  
  def __str__(self):
    return"[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [3]:
conta1 = ContaSalario(37)
print(conta1)

[>>Codigo 37 Saldo 0<<]

In [4]:
conta2 = ContaSalario(37)
print(conta2)

[>>Codigo 37 Saldo 0<<]

In [5]:
conta1 == conta2

False

In [7]:
contas = [conta1]
conta1 in contas

True

In [8]:
conta2 in contas

False

In [9]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    return self._codigo == outro._codigo

  def deposita(self, valor):
    self._saldo += valor
  
  def __str__(self):
    return"[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [15]:
conta1 = ContaSalario(37)
conta2 = ContaSalario(37)

In [11]:
conta1 == conta2

True

In [16]:
conta1 != conta2

False

In [17]:
conta1 in [conta2]

True

In [19]:
conta2 in [conta1]

True

In [32]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False
      
    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def deposita(self, valor):
    self._saldo += valor
  
  def __str__(self):
    return"[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)


  class ContaMultiploSalario(ContaSalario):
    pass

In [26]:
conta1.deposita(10)
print(conta2)

[>>Codigo 37 Saldo 0<<]

In [30]:
conta1 == conta2

True

In [35]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False
      
    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def deposita(self, valor):
    self._saldo += valor
  
  def __str__(self):
    return"[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)


  class ContaMultiploSalario(ContaSalario):
    pass

In [39]:
conta1 = ContaSalario(37)
conta2 = ContaCorrente(34)

In [41]:
conta1 == conta2

False

In [40]:
isinstance(ContaCorrente(34), ContaCorrente)

True

In [2]:
idades = [15, 87, 32, 65, 56, 32, 49, 37]

for i in range(len(idades)):
  print(i, idades[i])

0 15
1 87
2 32
3 65
4 56
5 32
6 49
7 37

In [51]:
range(len(idades)) #lazy

range(0, 8)

In [53]:
enumerate(idades) #lazy

In [4]:
list(range(len(idades))) #Forcei a geração dos valores

[0, 1, 2, 3, 4, 5, 6, 7]

In [6]:
list(enumerate(idades))

[(0, 15), (1, 87), (2, 32), (3, 65), (4, 56), (5, 32), (6, 49), (7, 37)]

In [10]:
for indice, idade in enumerate(idades): #ele vai gerando aos poucos
  print(indice, "x", idade)

0 x 15
1 x 87
2 x 32
3 x 65
4 x 56
5 x 32
6 x 49
7 x 37

In [13]:
usuarios = [
            ("Matheus", 37, 1993),
            ("Ana", 65, 1956),
            ("Carlos", 56, 1965)
]

for nome, idade, nascimento in usuarios: # ja desampacotando, ignorando o resto
  print(nome)

Matheus
Ana
Carlos

In [14]:
for nome, _, _ in usuarios: #já desampacotado, ignorando o resto
  print (nome)

Matheus
Ana
Carlos

In [15]:
idades

[15, 87, 32, 65, 56, 32, 49, 37]

In [16]:
sorted(idades)

[15, 32, 32, 37, 49, 56, 65, 87]

In [19]:
list (reversed(idades))

[37, 49, 32, 56, 65, 32, 87, 15]

In [22]:
sorted(idades, reverse=True)

[87, 65, 56, 49, 37, 32, 32, 15]

In [23]:
idades.sort()

In [24]:
idades

[15, 32, 32, 37, 49, 56, 65, 87]

In [26]:
list (reversed(sorted(idades)))

[87, 65, 56, 49, 37, 32, 32, 15]

In [27]:
nomes = ["Guilherme", "Daniela", "Paulo"]
sorted(nomes)

['Daniela', 'Guilherme', 'Paulo']

In [33]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False
      
    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def deposita(self, valor):
    self._saldo += valor
  
  def __str__(self):
    return"[>>Codigo {} Saldo {} <<]".format(self._codigo, self._saldo)

In [34]:
conta_do_guilherme = ContaSalario(17)
conta_do_guilherme.deposita(500)

conta_da_dani = ContaSalario(3)
conta_da_dani.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(100)

contas = [conta_do_guilherme, conta_da_dani, conta_do_paulo]

In [35]:
for conta in contas:
  print(conta)

[>>Codigo 17 Saldo 500 <<]
[>>Codigo 3 Saldo 1000 <<]
[>>Codigo 133 Saldo 100 <<]

In [37]:
def exatrai_saldo(conta):
  return conta._saldo

for conta  in sorted(contas, key=exatrai_saldo):
  print(conta)

[>>Codigo 133 Saldo 100 <<]
[>>Codigo 17 Saldo 500 <<]
[>>Codigo 3 Saldo 1000 <<]

In [41]:
from operator import attrgetter

for conta in sorted(contas, key=attrgetter("_saldo")):
  print(conta)

[>>Codigo 133 Saldo 100 <<]
[>>Codigo 17 Saldo 500 <<]
[>>Codigo 3 Saldo 1000 <<]

In [43]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False
      
    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def __lt__(self, outro):
    return self._saldo < outro._saldo

  def deposita(self, valor):
    self._saldo += valor
  
  def __str__(self):
    return"[>>Codigo {} Saldo {} <<]".format(self._codigo, self._saldo)

In [49]:
conta_do_guilherme = ContaSalario(17)
conta_do_guilherme.deposita(500)

conta_da_dani = ContaSalario(3)
conta_da_dani.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_dani, conta_do_paulo]

In [45]:
conta_do_guilherme < conta_da_dani

True

In [48]:
for conta in sorted(contas):
  print(conta)

[>>Codigo 133 Saldo 100 <<]
[>>Codigo 17 Saldo 500 <<]
[>>Codigo 3 Saldo 1000 <<]

In [52]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_dani = ContaSalario(3)
conta_da_dani.deposita(500)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_dani, conta_do_paulo]

In [53]:
for conta in sorted(contas, key=attrgetter("_saldo", "_codigo")):
  print(conta)

[>>Codigo 3 Saldo 500 <<]
[>>Codigo 133 Saldo 500 <<]
[>>Codigo 1700 Saldo 500 <<]

In [54]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False
      
    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def __lt__(self, outro):
    if self._saldo != outro._saldo:
      return self._saldo < outro._saldo
      
    return self._saldo < outro._saldo

  def deposita(self, valor):
    self._saldo += valor
  
  def __str__(self):
    return"[>>Codigo {} Saldo {} <<]".format(self._codigo, self._saldo)

In [58]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_dani = ContaSalario(3)
conta_da_dani.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_dani, conta_do_paulo]

In [59]:
for conta  in sorted (contas):
  print(conta)

[>>Codigo 1700 Saldo 500 <<]
[>>Codigo 133 Saldo 500 <<]
[>>Codigo 3 Saldo 1000 <<]

In [60]:
conta_do_guilherme < conta_da_dani

True

In [61]:
conta_do_guilherme <= conta_da_dani

TypeError: ignored

In [62]:
from functools import total_ordering

@total_ordering
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False
      
    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def __lt__(self, outro):
    if self._saldo != outro._saldo:
      return self._saldo < outro._saldo
      
    return self._saldo < outro._saldo

  def deposita(self, valor):
    self._saldo += valor
  
  def __str__(self):
    return"[>>Codigo {} Saldo {} <<]".format(self._codigo, self._saldo)

In [63]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_dani = ContaSalario(3)
conta_da_dani.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_dani, conta_do_paulo]

In [64]:
conta_do_guilherme <= conta_da_dani

True